.footer {
    margin-top: 20px;
    margin-left: 40%;
    align-items: center;
    margin-bottom: 20px;
    color: blanchedalmond;
    
}
.insta__icon {
    margin-right: 15px;
    margin-left: 8%;
    font-size: 30px !important
    
}
.twitter__icon {
    margin-right: 15px;
}
